.dialogs{
     display: grid;
     grid-template-columns: 2fr 10fr;
}
.dialogs_item{
     padding: 10px;
     color: white;
}
.dialogs_item .active{
     color: gold;
}
.dialog{
     color:wheat;
}

.messages{
     padding: 10px;
}
.message{
     color:white;
}
.btnSendMessage{
     width: 20%;
}