.content{
     grid-area: c;
     background-color: #393A40;
     border: 5px solid #2c2d31;
}
.content_img{
     width:100%;
     height: 200px;
}
.profile_photo{
     width: 10%;
     border-radius: 100px;
     margin-left: 4%;
}
.item{
     
}